* {
  font-family: 'Poppins', sans-serif;
  background-color: #232830;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Nav */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .item-link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.item-link .item {
  text-decoration: none;
  font-size: 24px;
}

/* End Nav */

/* Brand */

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand p {
  margin: 0;
}

.brand .brand-title {
  margin-top: 24px;
  color: #FF7575;
  font-size: 60px;
  font-family: 'Recursive';
}

.brand .brand-subtitle {
  margin-top: 16px;
  font-size: 24px;
}

.brand-line {
  margin-top: 100px;
}

/* End Brand */

.line {
  border-top: 1px solid #4D4D4D;
  opacity: 0.2;
}

/* Category */

.category {
  margin-bottom: 100px;
}

.category-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Recursive';
}

.category .option-view {
  display: inline;
  gap: 8px;
  align-items: center;
}

.category-list .category-item {
  color: #909090;
  font-size: 27px;
  text-decoration: none;
}

/* End Category */

/* Card */

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 37px;
  column-gap: 37px;
}

.card-container {
  display: flex;  
  flex-direction: column;
  gap: 35px;
  width: 390px;
  height: 440px;
  border-radius: 22px;
  padding: 26px;
  background-color: white;
}

.card-container p { 
  margin: 0;
  color: black;
  background-color: white;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  background-color: white;
}

.card-content .card-title {
  font-weight: bold;
  font-size: 19px;
}

.card-footer p { 
  margin: 0;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  color: black;
}

/* End Card */

/* Pagination */

.pagination {
  margin-top: 100px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 43px;
}

.prev,
.next {
  color: #909090;
  text-decoration: none;
  font-size: 24px;
}

.nums {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nums .num {
  font-size: 24px;
  color: #909090;
}

.nums .active {
  border-top: 3px solid #FF7575;
  color: #FF7575;
}

/* End Pagination */

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.left .web-name {
  font-size: 30px;
}

.left .author {
  font-size: 19px;
  padding: 4px 12px;
  background-color: #4699E0;
  border-radius: 10px;
}

.web-twitter {
  font-size: 19px;
  padding: 4px 12px;
  background-color: #4699E0;
  border-radius: 10px;
}

/* End Footer */

/* Padding header footer */
header {
  padding-top: 90px;
  margin-bottom: 120px;
}

footer {
  padding-bottom: 90px;
}
